* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --theme: #466b74;
  --text: #fff;
}

a {
  color: var(--text);
  text-decoration: none;
}

a .text {
  text-decoration: underline;
}

a:hover .text {
  text-decoration: none;
}

.page {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;

  background-image: url(./background.jpg);
  background-size: cover;
  background-position: 30%;
  background-repeat: no-repeat;
}

.page_content {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page_content_item {
  display: block;
}

.page_content_item.page_content_item--small {
  flex: 1 0;
}

.page_content_item.page_content_item--large {
  flex: 3 0;
}

.page_content_item#socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
}

.page_content_item#socials > :not(:first-child) {
  margin-left: 1rem;
}

.page_content_item#socials a {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--text);
  text-decoration: none;
}

.page_content_item#socials a:hover {
  color: var(--theme);
}

.page_content_item#languages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}

main.page_content_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
